.about__background {
  background-color: var(--mainBlue);
  width: 100%;
  transform: skewY(-10deg) translateY(-250px);
  z-index: 1;
}

.about__container {
  position: relative;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  transform: skewY(var(--skew)) translateY(250px);
}

.about__name {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 8px #00000081;
}

.about__img_container {
  position: relative;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about__img {
  max-width: 400px;
  max-height: 600px;
  object-fit: cover;
}

.about__name {
  position: absolute;
  bottom: 0;
  left: 25%;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.about__info_container {
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  margin-right: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.about__title {
  font-weight: 100;
}

.about__description {
  margin-block: 1.75rem;
  color: rgb(60, 60, 60);
}

.about__social_container {
  align-self: flex-end;
  display: flex;
  gap: 1.25rem;
}

.about__social_container svg {
  width: 26px;
}
