.contact__background {
  background-color: var(--mainBlue);
}

.contact__container {
  margin: auto;
  padding: 3rem var(--site-margin);
  max-width: 1200px;
  color: white;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.contact__title {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.contact__address {
  margin-block: 1rem;
}

.contact__phone {
  margin-bottom: 0.5rem;
}

.contact__email {
  /* text-decoration: none; */
  color: inherit;
}

.contact__container img {
  max-width: 60%;
  height: auto;
}

.contact__social {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.contact__social svg {
  width: 30px;
}

@media (max-width: 900px) {
}

@media (max-width: 420px) {
  .contact__container {
    flex-direction: column;
    overflow: hidden;
  }

  .contact__social {
    justify-content: center;
    gap: 2rem;
  }

  .contact__social svg {
    width: 48px;
  }

  .contact__container img {
    margin-top: 1rem;
    max-width: none;
    transform: scale(1.5);
    width: 100%;
  }
}
