.project__container {
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 4rem;
  max-width: 1200px;
  padding-inline: var(--site-margin);
}

.project__container > h2 {
  font-size: 2rem;
  font-weight: 100;
}

.project__card_container {
  margin-top: 0.25rem;
  display: grid;
  row-gap: 3rem;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.project__card {
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
}

.project__card_bottom_half {
  padding: 0.5rem 1rem 2rem;
}

.project__card_bottom_half p {
  color: rgb(60, 60, 60);
}

.project__card_title svg {
  width: 24px;
  margin-right: 0.5rem;
}

.project__card_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

@media (max-width: 560px) {
  .project__container {
    margin-top: 14rem;
    padding-inline: 2rem;
  }

  .project__container > h2 {
    text-align: center;
    font-size: 3rem;
  }
}
